@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,700);
/*CSS Resets*/
html {
	font-family: Open sans, Arial, sans-serif;
	font-size: 1em; 
}
body {
	margin: 0;
	-webkit-text-size-adjust: 100%;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  font-weight: 300;
  margin: 0.67em 0;
}
h2 {
	font-weight: 400;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
 {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input {
	font-family: inherit;
	font-size: 1em;
	line-height: 1.2em;
	-webkit-appearance: none;
	border-radius: 0;
	padding-left: .8em;
}
input[type="checkbox"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/*End resets*/
.noscript {
	color: #ff803c;
	background-color: #ffe6d1;
	border: 1px solid #ff803c;
}
.header {
	background-color: #00a6dd;
	padding: 2em;
}
.page-container {
	position: relative;
	box-sizing: border-box;
}
.productInfo {
	width: 40%;
	height: 37em;
	float: left;
	background-color: #eee;
}
.content {
	display: block;
	width: 32em;
	float: left;
	margin-left: 2em;
}
label {
	color: #999;
	display: block;
	text-transform: uppercase;
	margin-bottom: .2em;
}

#psswrdTest {
	position: relative;
}
ul {
	list-style-type: none;
	position: relative;
	font-size: .9em;
	margin: 0 0 1.5em 0; 
	padding: 0;
	user-select: none;
}
li{
	display: inline-block;
	box-sizing: inherit;
}
li::before {
	display: inline-block;
	width: 1.6em;
	height: 1.6em;
	content: "";
	border-radius: 50%;
	vertical-align: middle;
	margin: -0.2em 0.4em 0 .3em;
	margin-top: -.2em;
	background: #ddd url("icons.svg") no-repeat top center;
}
li:first-child::before {
	margin-left: 0;
}
.required {
	color: #e44f09;
	font-weight: 700;
}
input:not(#submitSignUp) {
	width: 100%;
	height: 2.5em;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 1.5em;
	box-sizing: border-box;
}
#submitSignUp {
	display: inline-block;
	background-color: #00a6dd;
	color: #fff;
	border: 0;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 1em;
	padding: .7em 2.1em;
	margin-top: 1em;
}
#terms {
	font-size: 1em;
}
/* Ipads and such */
@media screen and (max-width: 768px) {
	.productInfo {
		display: none;
	}
	.content {
		width: auto;
		float: none;
		margin: 0 1.2em;
	}
}
/* Portrait */
@media screen and (orientation:portrait) {
	ul {
		display: table;
	}
	li {
		width: 50%;
		box-sizing: border-box;
		padding: 0 1.6em 1em 0;
		white-space: nowrap;
	}
	li::before {
		margin-left: 0;
	}
}
/* Landscape */
@media screen and (orientation:landscape) {
   li {
	-webkit-text-size-adjust: auto;
	}
}