@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,700);

html {
	font-family: Open sans, Arial, sans-serif;
	font-size: 16px;
	box-sizing: border-box;
	overflow-y: scroll;
	  -webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
  box-sizing: border-box;

}
body {
	background-color: #fbfbfc;
	margin: 0;
	-webkit-text-size-adjust: 100%;
}
a {
	background-color: transparent;
	color: #00a6dd;
	text-decoration: none;
}
a:active,
a:hover{
  outline: 0;
  border-bottom: 1px dotted #00a6dd;
}
a.logo:hover {
	text-decoration: none;
	border: 0 none;
}
h1 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
}
h2 {
	font-weight: 400;
	color: #333;
	margin: 1rem 0 0 0;

}
img {
  border: 0;
}
svg:not(:root) {  
  overflow: hidden;
}
button,
input,
 {
  color: inherit; /*Resets*/
  font: inherit; 
  margin: 0; / 
}
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input.text-input {
	font-family: inherit;
	font-size: 1rem;
	line-height: 1.2rem;
	width: 100%;
	height: 2.5rem;
	-webkit-appearance: none;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	padding-left: .8rem;
}
input[type="checkbox"] {
	display: none;
}
input[type="checkbox"] + label span {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	margin: 0 1rem 0 0;
	padding: 0;
	vertical-align: middle;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	cursor: pointer;
}
input[type="checkbox"]:checked + label span {
	background: url("sprite.min.svg") no-repeat bottom center;
	background-size: auto 3rem;
	border-color: #00a6dd;
}
#terms {
	height: 1.6rem;
	font-size: .85rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.noscript {
	font-size: 1.2rem;
	color: #ff803c;
	display: block;
	vertical-align: middle;
	padding: 1rem;
	border: 1px solid #ff803c;
	background-color: #fff7f3;
}
.header {
	padding: 1.2rem ;
}
.logo {
	display: block;
	width: 10rem;
	height: 1.25rem;
	overflow: hidden;
}
.logo > img {
	width: 10rem;
	height: auto;
}
.page-container {
	position: relative;
}
.productInfo {
	width: 40%;
	height: 37rem;
	float: left;
	margin-left: 1.2rem;
}
h1 {
	font-size: 2.8rem;
	color: #999;
}
.content {
	display: block;
	width: 28rem;
	float: left;
	margin: 0 2rem 0 2rem ;
}
.form {
	position: relative;
	background-color: #fff;
	padding: 2.5rem;
	border: 1px solid #f1f1f1;
}
#top {
	border-bottom: 0;
	padding-bottom: 0;
}
#bottom {
	border-top: 0;
	padding-top: 1.5rem;

	-webkit-transition: transform 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: transform 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.animate-bottom {
	-webkit-transform: translateY(6rem);
	transform: translateY(6rem);
}
.input-title {
	color: #999;
	display: inherit;
	clear: left;
	text-transform: uppercase;
	margin-bottom: 0.2rem;
}
#password {
	position: relative;
}
ul {
	position: absolute;
	left: -1px;
	right: -1px;
	background-color: #fff;
	line-height: 1.75rem;
	margin: 0;
	padding: .5rem 2.55rem 1.5rem 2.55rem;
	border-left: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	z-index: 0;
	list-style-type: none;
	cursor: default;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#submit-button:disabled {
	color: #999;
	background-color: #f1f1f1;
}
li {
	width: 50%;
	float: left;
}
span {
	padding: .5rem 0;
}
.msg{
	display: inline-block;
/*	height: 1rem;
*/	font-size: .95rem;
	margin: 0;
	color: #999;
	white-space: nowrap;
}
.msg::before, .msg:before {
	display: inline-block;
	width: 1.25rem;
	height: 1.25rem;
	content: "";
	border-radius: 50%;	
	vertical-align: middle;
	margin: -0.2rem 0.4rem 0 0;
	margin-top: -.2rem;
	background: #ddd;
	background-size: auto 2.5rem;
}
.error {
	color: #e44f09;

	-webkit-animation: shake 300ms ease-in-out;
	-animation: shake 300ms ease-in-out;

}
 .error::before {
	background: #fc651b url("sprite.min.svg") bottom left no-repeat;
	-webkit-animation: contract 300ms;
	-animation: contract 300ms;
);
 }
.success {
	color: #333;
}
.success::before, .success:before {
	background: #8fc822 url("sprite.min.svg") bottom right no-repeat;

	-webkit-transition: background  300ms ease-out,
	transition: background  300ms ease-out,

	-webkit-transform: scale(1);
	transform: scale(1);

	-webkit-animation: bulge 300ms;
	animation: bulge 300ms;
}
/* Bulge animation */
@-webkit-keyframes bulge {
	from, to{ -webkit-transform: scale(1); }
	20% 	{ -webkit-transform: scale(1.3); }
}
@keyframes bulge {
	from, to{ transform: scale(1); }
	20% 	{ transform: scale(1.3); }
}

/* Contract animaton */
@-webkit-keyframes contract {
	from, to{ -webkit-transform: scale(1); }
	20% 	{ -webkit-transform: scale(.8); }
}
@keyframes contract {
	from, to{ transform: scale(1); }
	20% 	{ transform: scale(.8); }
}
/* Shake animaton */
@-webkit-keyframes shake {
  0% {-webkit-transform: translateX(0);}
  12.5% {-webkit-transform: translateX(-.6rem) }
  37.5% {-webkit-transform: translateX(.5rem) }
  62.5% {-webkit-transform: translateX(-.3rem) }
  87.5% {-webkit-transform: translateX(.2rem) }
  100% {-webkit-transform: translateX(0)}
}
@keyframes shake {
  0% {transform: translateX(0);}
  12.5% {transform: translateX(-.6rem) }
  37.5% {transform: translateX(.5rem) }
  62.5% {transform: translateX(-.3rem) }
  87.5% {transform: translateX(.2rem) }
  100% {transform: translateX(0)}
}
.required {
	color: #e44f09;
	font-weight: 700;
}
.inputbox {
	padding-bottom: 1.5rem;
	height: auto;
}
#psswrdbox {
	padding-bottom: 0;
}
.blue-button {
	display: inline-block
;	color: #fff;
	font-size: .95rem;
	font-weight: 700;
	text-transform: uppercase;
	padding: .7rem 2.5rem;
	border: 0;
	border-radius: 3px;
	margin-top: .5rem;
	background-color: #00a6dd;
}
.blue-button:active, .blue-button:hover {
	background-color: #0073a8;
}
.hidden {
	height: 0;
	display: none;
}
/*--------------\
RESPONSIVE STYLES
\--------------*/

/* Max-width 768px */
@media screen and (max-width: 48rem) {  
	body {
		background-color: #fff;
	}
	.productInfo {
		display: none;
	}
	.content {
		width: auto;
		padding: 0 1.5rem 2.5rem 1.5rem;
		margin: 0;
		float: none;
	}
	.form {
		margin: 0;
		padding: 0;
		border: 0;
	}
	ul {
		left: 0;
		right: 0;
		padding-right: 0;
		border-right: 0;
		padding-left: 0;
		border-left: 0;
	}
	.msg {	
		font-size: .85rem;
	}
	.blue-button {
		width: 100%;
	}
	input {
		min-height: 44px;
	}
	#terms {
		font-size: .7rem;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	/* Portrait */
	@media screen and (orientation:landscape) {
		ul {
			display: block;
			border: 0;
		}
		#terms {
			font-size: .8rem;
		}
		li.msg {
			width: auto;
			margin-right: 1rem;
		}
		.animate-bottom {
			-webkit-transition: transform .5s ease-in;
			-webkit-transition: transform .5s ease-in;

			-webkit-transform: translateY(2.5rem);
			transform: translateY(2.5rem);
		}
		/*Landscape for iPhone 4 and below*/
		@media screen and (max-device-width: 30rem) {
		   .msg, li.msg {
	   		font-size: 0.7rem;
	   		margin-right: .4rem;
			}
		}	
	}
}

