@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,700);

$border: 1px solid #dedede;
/* Colors */
$opswat: #00a6dd;
$light-blue: #f2fafd;
$hover-blue: #cceffa;
$spritesheet: url("../img/sprite.min.svg");

html {
	font-family: Open sans, Arial, sans-serif;
	font-size: 16px;
	box-sizing: border-box;
	overflow-y: scroll;
	  -webkit-font-smoothing: antialiased;
}
*, *:before, *:after {  
	box-sizing: border-box;
}
body {
	background-color: #fff;
	margin: 0;
	-webkit-text-size-adjust: 100%;
}
a {
	background-color: transparent;
	color: #00a6dd;
	text-decoration: none;
	
	&.link:active,
	&.link:hover, {
  		outline: 0;
		color: #008ec6;
	}
}
.input-link {
	font-size: .9rem;
	float: right;
}
a.logo:hover {
	text-decoration: none;
	border: 0 none;
}
img {
  border: 0;
}
svg:not(:root) {  
  overflow: hidden;
}
button,
input,
 {
  color: inherit; /*Resets*/
  font: inherit; 
  margin: 0; 
}
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input.text-input {
	font-family: inherit;
	font-size: 1rem;
	line-height: 1.2rem;
	width: 100%;
	height: 2.5rem;
	-webkit-appearance: none;
	border: 1px solid #e5e5e5; 
	border-radius: 3px;
	padding-left: .8rem;
}
input[type="checkbox"] { /* Remove default checkbox from form */
	position: absolute;
	height: 0;
	opacity: 0;

	 + label span { /* Styled checkbox */
		display: inline-block;
		width: 1.6rem;
		height: 1.6rem;
		margin: 0 1rem 0 0;
		padding: 0;
		vertical-align: middle;
		border: 1px solid #e5e5e5;
		border-radius: 2px;
		cursor: pointer;
	}
	&:focus + label span {
		border: 1px solid #00a6dd;
	}
	&:checked + label span {
		background: $spritesheet right -9rem no-repeat ;
		background-size: 12rem;
		border-color: #00a6dd;
	}
}


#terms {
	height: 1.6rem;
	font-size: .85rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.noscript {
	font-size: 1.2rem;
	color: #ff803c;
	display: block;
	padding: 1rem;
	border: 1px solid #ff803c;
	background-color: #fff7f3;
	z-index: 100;
}
.centering {
	position: relative;
	text-align: center;
}
/* Grey color behind form */
.product-info::after {
		position: fixed;
		top: 0;
		bottom: 0;
		content: " ";
		left: 50%;
		width: 50%;
		background-color: #fafafa;
		z-index: -10;
	}
.page-container {
	display: inline-block;
	text-align: left;
}
	.product-info {
		float: left;
		padding-right: 2rem;
		width: 50%;
		max-width: 44rem;
	}
	.logo {
	display: block;
	width: 5rem;
	height: 3.1rem;
	overflow: hidden;
	margin: 2rem 0 1rem;
	}
		.logo > img {
			width: 5rem;
			height: auto;
		}

	h1 {
	  font-size: 2.4rem;
	  font-weight: 300;
	  color: #333;
	  margin: 0;
	}
	h2 {
		font-size: 1.2rem;
		font-weight: 200;
		color: #191919;
		line-height: 2.2rem;
		margin: 0;
	}
	h3 {
		font-size: 1.3rem;
		font-weight: 400;
		color: #333;
		margin: 3.4rem 0 1rem;
	}
	p {
		font-size: 1rem;
		font-weight: 200;
		line-height: 1.5rem;
		margin: 1rem 0;
	}
		.product-image {
			position: relative;
			width: 32rem;
			height: 4rem;
			margin: 2rem auto;
			overflow: hidden;
		}
		.product-image > img {
			position: absolute;
			bottom: 0;
			width: 32rem;
			height: auto;
		}
	.form-content {
		position: relative;
		display: block;
		width: 28rem;
		float: left;
		margin: -2.1rem 0 3rem 3rem ;
	}

		.form-select-container {
			position: relative;
			overflow: hidden;
			text-align: center;
			text-transform: uppercase;
			border: $border;
			border-bottom: 0;

			a {
				width: 50%;
				display: inline-block;
				float: left;
				color: #666;
				background: #fff;
				padding-top: 1rem;
				padding-bottom: 1rem;
				border-bottom: 1px solid #fff;
			
				&:first-child {
					border-right: $border;
				}		
				&.active {
					color: #999;
					background: #f1f1f1;
					border-bottom: $border;

					&:hover {
						color: #00a6dd;
						background-color: $light-blue;
					}	
					&:active {
						background-color: $hover-blue;
					}				
				}
			}				
		}


			.form {	
				position: relative;
				background-color: #fff;
				padding:  0 2.5rem;
				border: $border;
				border-top: 0;
			}
			#top {
				padding-top: 2.5em;
				border-bottom: 0;
				padding-bottom: 0;
			}

			#bottom {
				border-top: 0;
				padding-top: 1.5rem;
				padding-bottom: 2.5rem;

				-webkit-transition: transform 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
				transition: transform 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
			}
		.inputbox {
			padding-bottom: 1.5rem;
		}
			#psswrdbox {
					padding-bottom: 0; /*Since '.password-tester' has padding*/
				}
			.input-title {
				color: #999;
				text-transform: uppercase;
				padding-bottom: 0.2rem;
			}		
				.animate-bottom {
					-webkit-transform: translateY(6rem);
					transform: translateY(6rem);
				}
			/* Password tester */
			ul {
				position: absolute;
				left: -1px;
				right: -1px;
				background-color: #fff;
				line-height: 1.75rem;
				margin: 0;
				padding: .5rem 2.55rem 1.5rem 2.55rem;
				border-left: $border;
				border-right: $border;
				z-index: 0;
				list-style-type: none;
				cursor: default;

				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				-o-user-select: none;
				user-select: none;
			}
			li {
				width: 50%;
				float: left;
			}
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.7);		
}
	.legalese {
		width: 50%;
		
	}
#submit-button:disabled {
	color: #999;
	background-color: #f1f1f1;
}

span {
	padding: .5rem 0;
}
.msg{
	display: inline-block;
	font-size: .95rem;
	margin: 0;
	color: #999;
	white-space: nowrap;

		&::before, &:before {
		display: inline-block;
		width: 1.25rem;
		height: 1.25rem;
		content: "";
		border-radius: 50%;	
		vertical-align: middle;
		margin: -0.2rem 0.4rem 0 0;
		margin-top: -.2rem;
		background: #ddd;
	}

}

.error {
	color: #e44f09;

	-webkit-animation: shake 300ms ease-in-out;
	-animation: shake 300ms ease-in-out;
	
		&::before, &:before {
		background: #fc651b $spritesheet no-repeat 0 -7.5rem;
		background-size: 10rem;

		-webkit-transition: background-color 300ms ease-out;
		transition: background-color  300ms ease-out;

		-webkit-animation: contract 300ms;
		-animation: contract 300ms;
	}
}


.success {
	color: #333;

		&::before, &:before {
		background: #8fc822 $spritesheet  no-repeat -1.25rem -7.5rem;

		-webkit-transition: background-color 300ms ease-out;
		transition: background-color  300ms ease-out;

		-webkit-transform: scale(1);
		transform: scale(1);

		-webkit-animation: bulge 300ms;
		animation: bulge 300ms;
	}
}


/* Bulge animation */
@-webkit-keyframes bulge {
	from, to{ -webkit-transform: scale(1); }
	20% 	{ -webkit-transform: scale(1.3); }
}
@keyframes bulge {
	from, to{ transform: scale(1); }
	20% 	{ transform: scale(1.3); }
}

/* Contract animaton */
@-webkit-keyframes contract {
	from, to{ -webkit-transform: scale(1); }
	20% 	{ -webkit-transform: scale(.8); }
}
@keyframes contract {
	from, to{ transform: scale(1); }
	20% 	{ transform: scale(.8); }
}

/* Shake animaton */
@-webkit-keyframes shake {
  0% {-webkit-transform: translateX(0);}
  12.5% {-webkit-transform: translateX(-.6rem); }
  37.5% {-webkit-transform: translateX(.5rem); }
  62.5% {-webkit-transform: translateX(-.3rem); }
  87.5% {-webkit-transform: translateX(.2rem); }	
  100% {-webkit-transform: translateX(0); }
}
@keyframes shake {
  0% {transform: translateX(0);}
  12.5% {transform: translateX(-.6rem); }
  37.5% {transform: translateX(.5rem); }
  62.5% {transform: translateX(-.3rem); }
  87.5% {transform: translateX(.2rem); }
  100% {transform: translateX(0); }
}
.required {
	color: #e44f09;
	font-weight: 700;
}


.blue-button {
	display: inline-block
;	color: #fff;
	font-size: .95rem;
	font-weight: 700;
	text-transform: uppercase;
	padding: .7rem 2.5rem;
	border: 0;
	border-radius: 3px;
	background-color: #00a6dd;

	&:active, &:hover {
	background-color: #0073a8;
	}
}

.hidden {
	height: 0;
	display: none;
}
.clear {
	clear: both;
}

/* BREAKPOINTS */

	@mixin product-info-scaling($scale)	{
		.product-info {
			padding-left: ( 2rem / $scale );
		}
		.logo {
			margin-left:  ( 2rem / $scale );
		}
		h1 {
			font-size: ( 2.4rem / $scale);
		}
		h2 {
			font-size: ( 1.2rem / $scale);
			line-height: ( 2.2rem / $scale );
		}
		h3 {
			font-size: 1rem;
			margin: ( 3.4rem / $scale ) 0  ( 1rem /  $scale )
		}
		p {
			font-size: ( 1rem / $scale );
			line-height: ( 1.5rem / $scale );
			margin: (1rem / $scale ) 0;
		}
	}
	@mixin product-img-scaling( $scale)	{
		.product-image {
			width:  ( 32rem / $scale ) ;
			height: ( 4rem / $scale );	
			
			img {
				width: ( 32rem / $scale );
			}
		}
	}		
/* ===== == = === 81.25em (1300px) === = == ===== */

@media only screen and (max-width : 81.25em) {
	
	@include product-info-scaling(1.165);		
	@include product-img-scaling(1.165);
	.form-content {
		margin-left: 2rem;
	}
}
/* ===== == = === 68.75em (1100px) === = == ===== */

@media only screen and (max-width : 68.75em) {

	@include product-info-scaling(1.22);	
	@include product-img-scaling(1.22);	

	.form-content {
		width: 26rem;
		margin-left: 1rem;
	}
}

/* ===== == = === 56.25em (900px) === = == ===== */

@media only screen and (max-width : 56.25em) {
 	
 	@include product-info-scaling(1.35);	
	@include product-img-scaling(1.35);	

	.form-content {
		width: 42%;
		float: right;
		margin-left: 0.75rem;
		margin-right: 0.75rem;
	}
		.product-info::after {
		left: 55%;	
	}
}
/* ===== == = === Max-width 768px === = == ===== */
@media screen and ( max-width: 48rem ) {

	@include product-info-scaling(1.1);	
	@include product-img-scaling(1);
	
	.info-to-bottom {
	    bottom: -11rem;
	    left: 0;
	    background: #fafafa;
	    padding: 1.5rem;
	    position: absolute;
	    border-top: $border;
	
		h3 {
			margin-top: 0;
		}
	}

	body {
		background-color: #fff;
	}
	.product-info::after {
		display: none;	
	}
	.page-container {
		display: block;
	}
	.product-info {
		display: block;
		float: none;
	}
	.form-content,
	.product-info
	{
		width: auto;
		float: none;
		padding: 0 1.5rem 1.5rem;
		margin: 0;
	}
	#product-image {
		width: 100%;
	}
	form::before { 
			box-sizing: initial;
			position: relative;
			content: " ";
			width: 100%;
			margin: 0 -1.5rem;
			padding: 0 1.5rem;
			display: block;
			top: -1px;
			z-index: -100;
			border-top: $border;
	}
	.form {
		margin: 0;
		padding: 0;
		border: 0;
		
		/* border line across the top */
	}
	ul {
		left: 0;
		right: 0;
		padding-right: 0;
		border-right: 0;
		padding-left: 0;
		border-left: 0;
	}
	.msg {	
		font-size: .8rem;
	}
	.blue-button {
		width: 100%;
	}
	input {
		min-height: 44px;
	}
	#terms {
		font-size: .7rem;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	/* Portrait */
	@media screen and ( orientation:landscape ) {
		
		ul {
			display: block;
			border: 0;
		}
		#terms {
			font-size: .8rem;
		}
		li.msg {
			width: auto;
			margin-right: 1rem;
		}
		.animate-bottom {
			-webkit-transition: transform .5s ease-in;
			-webkit-transition: transform .5s ease-in;

			-webkit-transform: translateY(2.5rem);
			transform: translateY(2.5rem);
		}

		/*Landscape for iPhone 4 and below*/
		@media screen and ( max-device-width: 30rem ) {
		   
		   .msg, li.msg {
	   			font-size: 0.7rem;
	   			margin-right: .4rem;
			}
		}
	}
}	


/* ===== == = === 37.5em (600px) === = == ===== */

@media only screen and (max-width: 37.5em) {

	@include product-info-scaling(1.22);	
	@include product-img-scaling(1.12);	
	

	#bottom {
		padding-bottom: 0;
	}
}









/* ===== == = === 30em (480px) === = == ===== */

@media only screen and (max-width : 30em) {

	@include product-info-scaling(1.31);	
	@include product-img-scaling(1.57);	

	.product-image {
		margin: 1rem auto;
	}
	.form-content {
		font-size: 0.9rem;
	}
}
/* ===== == = === 20em (320px) === = == ===== */

@media only screen and (max-width : 20em) {
	
	@include product-info-scaling(1.5);	
	@include product-img-scaling(1.9);	
}
