@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,700);

html {
	font-family: Open sans, Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
	box-sizing: border-box;
}
body {
	position: relative;
	display: block;
}
a {
	background-color: transparent;
	}
a:active,
a:hover {
  outline: 0;
}
img {
  border: 0;
}
svg:not(:root) {  
  overflow: hidden;
}
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
h1, h2 {
	display: inline-block;
	color: #fff;
	font-weight: 300;
	text-align: left;
	padding: 0;
	margin: 0;
}
h1 {
	font-size: 4rem;
	line-height: 6rem;
}
h2 {
/*	display: inline-block;
*/
	font-size: 2rem;
	line-height: 3rem;
}
.content {
	position: relative;
	display: block;
	z-index: 10;
}
.left {
	padding: 3rem 4rem 0;
}
.section {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;

}
.multiscan {
	top: 0;
	background: #333;
}
.data-flow-wrap {
	position: absolute;
	bottom: 3rem;
	width: 100%;
	margin: 10rem 0;
}
input[type="button"] {
	padding: 0;
	border: 0;
}
button {
	padding: 1.2rem 2rem;
	display: inline-block;
	line-height: 2em;
	border-radius: 2px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	white-space: nowrap;
	border: .15rem solid #fff;
	-webkit-transition: .3s background-color ease-in;
	transition: .3s background-color ease-in;
}
a, a:visited {
	margin-top: 2rem;
	display: inline-block;
	text-decoration: none;
	color: white;
}
button.white {
	background: #333;
	color: #fff;
}
.bottom {
	position: absolute;
	left: 0;
	bottom: 4rem;
	width: 100%;
	opacity: 0;

}
button.blue {
	background: #00a6dd;
	color: #fff;
}
button.white:hover {
	background: #fff;
	color: #333;
}
button.white:active {
	background: #f2f2f2;
}
button.blue:hover {
	background: #fff;
	color: #00a6dd;
}
button.blue:active {
	background: #cceffa;
}
.data-flow {
	position: relative;
	display: block;
	width: 100%;
	height: 10rem;
	overflow: hidden;
}
.file{
	position: absolute;
	left: -50%;
	top:0;
	width: 10rem;
	height: 10rem;
	display: block;
	margin-left: -5rem;
	padding: 0;
	background: url(file.min.svg) no-repeat top center;
	background-size: auto 9rem; 
}
.header{
	display: block;
	width: 100%;
	text-align: right;
	padding: 1rem;
	background-color: #00a6dd;
}
.header > img {

}
.file.slide {
	-webkit-animation: slide 6s linear;
	animation: slide 6s linear;
}	
@-webkit-keyframes slide  {
	0%, 		{ left:	-10%; }
	40%, 60% 	{ left:50%; }
	100% 		{ left: 150%; }
}
@keyframes slide  {
	0%, 		{ left:	-10%; }
	40%, 60% 	{ left:50%; }
	100% 		{ left: 150%; }
}
.server {
	top: 100%;
	text-align: center;
	background-color: #00a6dd;
	perspective: 10rem;
	padding: 10rem;
}
.x-ray{
	position: absolute;
	bottom: 3rem;
	left: 50%;
	border-radius: 50%;
	width: 30rem;
	height: 30rem;
	margin-left: -15rem; 
	background: rgba(255,255,255,.3);
}
.middle{
	height: 25%;
}
.server-top {
	width: 40rem;
}
.server-top {
	display: inline-block;
	width: 20rem;
	height: 20rem;
	opacity: 0;
	margin-bottom: .4rem;
	background-color: #0073a8;
	transform-style: preserve-3d;
	animation-delay: 5s;
	transition: all 1s ease-in;
}
.perspective {
	height: 10rem;
	width: 30rem;
	opacity: 1;
	transform: rotateX(60deg);
	transform-origin: bottom;
}
.server-front {
	position: relative;
	top: 0;
	display: block;
	opacity: 0;
	transform: translateY(2rem);
}
.unhide {
	opacity: 1;
	transform: translateY(0);
	animation-delay: 5s;
	transition: all 1s ease-in;
}
.server-front > img {
	width: 34rem;
	text-align: center; 
}

