	html {
		font-family: OpenSans, Arial, sans-serif;
		font-size: 1em;
		margin: 0;
		padding: 0;
	}
	body {
		margin: 0;
		padding: 0;
	}
/*------------------------
	Left Nav List Style
------------------------*/ 
	nav {
		top: 0;
		left: 0;
		position: fixed;
		width: 242px;
		height: 100%;
		background: #eee;
	}
	#logo {
		height: 120px;
		background-color: #68ACC2;
		padding: 20px 0 0 28px;
		box-sizing: border-box;
		overflow: hidden;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
		li {
			display: block;
			min-height: 44px;
			padding-top: 14px;
			color: #a5a5a5;
		}
		li:first-child {
			top: 120px;
			/*padding-top: 50px;*/
		}
		li:hover {
			color: #000;
			background-color: #fff;
		}
		.childList {
			display: none;
		}

	/*------------------------
		Left Nav Icons
	------------------------*/
	.icon {
		display: inline-block;
		width: 26px;
		height: 22px;
		margin: 0 20px;
		background: url("icon_all.png") no-repeat;
	}
		#user {
			background-position: -4px -46px;
		}
		#dash {
			background-position: -113px -46px;
		}
		#device {
			background-position: -148px -45px;
		}
		#event {
			background-position: -220px -45px;
		}
		#config {
			background-position: -293px -44px;
		}
/*------------------------
	Grid
------------------------*/
	#rightContent {
		width: 100%;
	}
	#company {
		margin: 15px 0 0 20px; 
	}
	#contentGrid {
		margin: 3em 1em 1em 242px;
		background-color: #ccc;
		position: relative;
	}
		.grid {
			float: left;
			background-color: #eee;
			margin: 0 0 2.25% 2.25%;
			padding-left: 1.2em;
			box-sizing: border-box;
			color: #aaa;
		}
		.clearRight {
			clear: right;
		}
		.clearLeft {
			clear: left;
		}
		.tall {
			height: 260px;
		}
			#colOne {
				width: 12%;
			}
			#colTwo {
				width: 26.25%;
			}
			#colThree {
				width: 40.5%;
			}
			#colFour {
				width: 54.75%;
			}
			#colFive {
				width: 69%;
			}
			#colAll {
				width: 97.7%;
			}

@media screen and (max-width: 1200px) {
	nav {
		width: 80px;
	}
	#logo {
		width: 80px;
	}

	#contentGrid {
		margin-left: 80px;
	}
}