@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,700);
/* Colors */
/* line 10, ../sass/accounts.scss */
html {
  font-family: Open sans, Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

/* line 17, ../sass/accounts.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 20, ../sass/accounts.scss */
body {
  background-color: #fff;
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

/* line 25, ../sass/accounts.scss */
a {
  background-color: transparent;
  color: #00a6dd;
  text-decoration: none;
}
/* line 30, ../sass/accounts.scss */
a.link:active, a.link:hover {
  outline: 0;
  color: #008ec6;
}

/* line 36, ../sass/accounts.scss */
.input-link {
  font-size: .9rem;
  float: right;
}

/* line 40, ../sass/accounts.scss */
a.logo:hover {
  text-decoration: none;
  border: 0 none;
}

/* line 44, ../sass/accounts.scss */
img {
  border: 0;
}

/* line 47, ../sass/accounts.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 50, ../sass/accounts.scss */
button,
input {
  color: inherit;
  /*Resets*/
  font: inherit;
  margin: 0;
}

/* line 57, ../sass/accounts.scss */
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 61, ../sass/accounts.scss */
input.text-input {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.2rem;
  width: 100%;
  height: 2.5rem;
  -webkit-appearance: none;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding-left: .8rem;
}

/* line 72, ../sass/accounts.scss */
input[type="checkbox"] {
  /* Remove default checkbox from form */
  position: absolute;
  height: 0;
  opacity: 0;
}
/* line 77, ../sass/accounts.scss */
input[type="checkbox"] + label span {
  /* Styled checkbox */
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 1rem 0 0;
  padding: 0;
  vertical-align: middle;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  cursor: pointer;
}
/* line 88, ../sass/accounts.scss */
input[type="checkbox"]:focus + label span {
  border: 1px solid #00a6dd;
}
/* line 91, ../sass/accounts.scss */
input[type="checkbox"]:checked + label span {
  background: url("../img/sprite.min.svg") right -9rem no-repeat;
  background-size: 12rem;
  border-color: #00a6dd;
}

/* line 99, ../sass/accounts.scss */
#terms {
  height: 1.6rem;
  font-size: .85rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 108, ../sass/accounts.scss */
.noscript {
  font-size: 1.2rem;
  color: #ff803c;
  display: block;
  padding: 1rem;
  border: 1px solid #ff803c;
  background-color: #fff7f3;
  z-index: 100;
}

/* line 117, ../sass/accounts.scss */
.centering {
  position: relative;
  text-align: center;
}

/* Grey color behind form */
/* line 122, ../sass/accounts.scss */
.centering::after {
  position: fixed;
  top: 0;
  bottom: 0;
  content: " ";
  left: 50%;
  width: 50%;
  background-color: #fafafa;
  z-index: -10;
}

/* line 132, ../sass/accounts.scss */
.page-container {
  display: inline-block;
  text-align: left;
}

/* line 136, ../sass/accounts.scss */
.product-info {
  float: left;
  padding-right: 2rem;
  width: 50%;
  max-width: 44rem;
}

/* line 142, ../sass/accounts.scss */
.logo {
  display: block;
  width: 5rem;
  height: 3.1rem;
  overflow: hidden;
  margin: 2rem 0 1rem;
}

/* line 149, ../sass/accounts.scss */
.logo > img {
  width: 5rem;
  height: auto;
}

/* line 154, ../sass/accounts.scss */
h1 {
  font-size: 2.4rem;
  font-weight: 300;
  color: #333;
  margin: 0;
}

/* line 160, ../sass/accounts.scss */
h2 {
  font-size: 1.2rem;
  font-weight: 200;
  color: #191919;
  line-height: 2.2rem;
  margin: 0;
}

/* line 167, ../sass/accounts.scss */
h3 {
  font-size: 1.3rem;
  font-weight: 400;
  color: #333;
  margin: 3.4rem 0 1rem;
}

/* line 173, ../sass/accounts.scss */
p {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5rem;
}

/* line 178, ../sass/accounts.scss */
.product-image {
  position: relative;
  width: 32rem;
  height: 4rem;
  margin: 2rem auto;
  overflow: hidden;
}

/* line 185, ../sass/accounts.scss */
.product-image > img {
  position: absolute;
  bottom: 0;
  width: 32rem;
  height: auto;
}

/* line 191, ../sass/accounts.scss */
.form-content {
  position: relative;
  display: block;
  width: 28rem;
  float: left;
  margin: -2.1rem 0 3rem 3rem;
}

/* line 199, ../sass/accounts.scss */
.form-select-container {
  position: relative;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #dedede;
  border-bottom: 0;
}
/* line 207, ../sass/accounts.scss */
.form-select-container a {
  width: 50%;
  display: inline-block;
  float: left;
  color: #666;
  background: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #fff;
}
/* line 217, ../sass/accounts.scss */
.form-select-container a:first-child {
  border-right: 1px solid #dedede;
}
/* line 220, ../sass/accounts.scss */
.form-select-container a.active {
  color: #999;
  background: #f1f1f1;
  border-bottom: 1px solid #dedede;
}
/* line 225, ../sass/accounts.scss */
.form-select-container a.active:hover {
  color: #00a6dd;
  background-color: #f2fafd;
}
/* line 229, ../sass/accounts.scss */
.form-select-container a.active:active {
  background-color: #cceffa;
}

/* line 237, ../sass/accounts.scss */
.form {
  position: relative;
  background-color: #fff;
  padding: 0 2.5rem;
  border: 1px solid #dedede;
  border-top: 0;
}

/* line 244, ../sass/accounts.scss */
#top {
  padding-top: 2.5em;
  border-bottom: 0;
  padding-bottom: 0;
}

/* line 250, ../sass/accounts.scss */
#bottom {
  border-top: 0;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  -webkit-transition: transform 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* line 258, ../sass/accounts.scss */
.inputbox {
  padding-bottom: 1.5rem;
}

/* line 261, ../sass/accounts.scss */
#psswrdbox {
  padding-bottom: 0;
  /*Since '.password-tester' has padding*/
}

/* line 264, ../sass/accounts.scss */
.input-title {
  color: #999;
  text-transform: uppercase;
  padding-bottom: 0.2rem;
}

/* line 269, ../sass/accounts.scss */
.animate-bottom {
  -webkit-transform: translateY(6rem);
  transform: translateY(6rem);
}

/* Password tester */
/* line 274, ../sass/accounts.scss */
ul {
  position: absolute;
  left: -1px;
  right: -1px;
  background-color: #fff;
  line-height: 1.75rem;
  margin: 0;
  padding: .5rem 2.55rem 1.5rem 2.55rem;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  z-index: 0;
  list-style-type: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 294, ../sass/accounts.scss */
li {
  width: 50%;
  float: left;
}

/* line 298, ../sass/accounts.scss */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

/* line 304, ../sass/accounts.scss */
.legalese {
  width: 50%;
}

/* line 308, ../sass/accounts.scss */
#submit-button:disabled {
  color: #999;
  background-color: #f1f1f1;
}

/* line 313, ../sass/accounts.scss */
span {
  padding: .5rem 0;
}

/* line 316, ../sass/accounts.scss */
.msg {
  display: inline-block;
  font-size: .95rem;
  margin: 0;
  color: #999;
  white-space: nowrap;
}
/* line 323, ../sass/accounts.scss */
.msg::before, .msg:before {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  content: "";
  border-radius: 50%;
  vertical-align: middle;
  margin: -0.2rem 0.4rem 0 0;
  margin-top: -.2rem;
  background: #ddd;
}

/* line 337, ../sass/accounts.scss */
.error {
  color: #e44f09;
  -webkit-animation: shake 300ms ease-in-out;
  -animation: shake 300ms ease-in-out;
}
/* line 343, ../sass/accounts.scss */
.error::before, .error:before {
  background: #fc651b url("../img/sprite.min.svg") no-repeat 0 -7.5rem;
  background-size: 10rem;
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color  300ms ease-out;
  -webkit-animation: contract 300ms;
  -animation: contract 300ms;
}

/* line 356, ../sass/accounts.scss */
.success {
  color: #333;
}
/* line 359, ../sass/accounts.scss */
.success::before, .success:before {
  background: #8fc822 url("../img/sprite.min.svg") no-repeat -1.25rem -7.5rem;
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color  300ms ease-out;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-animation: bulge 300ms;
  animation: bulge 300ms;
}

/* Bulge animation */
@-webkit-keyframes bulge {
  from, to {
    -webkit-transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.3);
  }
}
@keyframes bulge {
  from, to {
    transform: scale(1);
  }
  20% {
    transform: scale(1.3);
  }
}
/* Contract animaton */
@-webkit-keyframes contract {
  from, to {
    -webkit-transform: scale(1);
  }
  20% {
    -webkit-transform: scale(0.8);
  }
}
@keyframes contract {
  from, to {
    transform: scale(1);
  }
  20% {
    transform: scale(0.8);
  }
}
/* Shake animaton */
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
  }
  12.5% {
    -webkit-transform: translateX(-0.6rem);
  }
  37.5% {
    -webkit-transform: translateX(0.5rem);
  }
  62.5% {
    -webkit-transform: translateX(-0.3rem);
  }
  87.5% {
    -webkit-transform: translateX(0.2rem);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  12.5% {
    transform: translateX(-0.6rem);
  }
  37.5% {
    transform: translateX(0.5rem);
  }
  62.5% {
    transform: translateX(-0.3rem);
  }
  87.5% {
    transform: translateX(0.2rem);
  }
  100% {
    transform: translateX(0);
  }
}
/* line 411, ../sass/accounts.scss */
.required {
  color: #e44f09;
  font-weight: 700;
}

/* line 417, ../sass/accounts.scss */
.blue-button {
  display: inline-block;
  color: #fff;
  font-size: .95rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: .7rem 2.5rem;
  border: 0;
  border-radius: 3px;
  background-color: #00a6dd;
}
/* line 428, ../sass/accounts.scss */
.blue-button:active, .blue-button:hover {
  background-color: #0073a8;
}

/* line 433, ../sass/accounts.scss */
.hidden {
  height: 0;
  display: none;
}

/* line 437, ../sass/accounts.scss */
.clear {
  clear: both;
}

/* BREAKPOINTS */
/* ===== == = === 81.25em (1300px) === = == ===== */
@media only screen and (max-width: 81.25em) {
  /* line 444, ../sass/accounts.scss */
  .product-info {
    padding-left: 1.71674rem;
  }

  /* line 447, ../sass/accounts.scss */
  .logo {
    margin-left: 1.71674rem;
  }

  /* line 450, ../sass/accounts.scss */
  h1 {
    font-size: 2.06009rem;
  }

  /* line 453, ../sass/accounts.scss */
  h2 {
    font-size: 1.03004rem;
    line-height: 1.88841rem;
  }

  /* line 457, ../sass/accounts.scss */
  h3 {
    font-size: 1rem;
  }

  /* line 460, ../sass/accounts.scss */
  p {
    font-size: 0.85837rem;
    line-height: 1.28755rem;
  }

  /* line 466, ../sass/accounts.scss */
  .product-image {
    width: 27.46781rem;
    height: 3.43348rem;
  }
  /* line 470, ../sass/accounts.scss */
  .product-image img {
    width: 27.46781rem;
  }

  /* line 481, ../sass/accounts.scss */
  .form-content {
    margin-left: 2rem;
  }
}
/* ===== == = === 68.75em (1100px) === = == ===== */
@media only screen and (max-width: 68.75em) {
  /* line 444, ../sass/accounts.scss */
  .product-info {
    padding-left: 1.63934rem;
  }

  /* line 447, ../sass/accounts.scss */
  .logo {
    margin-left: 1.63934rem;
  }

  /* line 450, ../sass/accounts.scss */
  h1 {
    font-size: 1.96721rem;
  }

  /* line 453, ../sass/accounts.scss */
  h2 {
    font-size: 0.98361rem;
    line-height: 1.80328rem;
  }

  /* line 457, ../sass/accounts.scss */
  h3 {
    font-size: 1rem;
  }

  /* line 460, ../sass/accounts.scss */
  p {
    font-size: 0.81967rem;
    line-height: 1.22951rem;
  }

  /* line 466, ../sass/accounts.scss */
  .product-image {
    width: 26.22951rem;
    height: 3.27869rem;
  }
  /* line 470, ../sass/accounts.scss */
  .product-image img {
    width: 26.22951rem;
  }

  /* line 492, ../sass/accounts.scss */
  .form-content {
    width: 26rem;
    margin-left: 1rem;
  }
}
/* ===== == = === 56.25em (900px) === = == ===== */
@media only screen and (max-width: 56.25em) {
  /* line 444, ../sass/accounts.scss */
  .product-info {
    padding-left: 1.48148rem;
  }

  /* line 447, ../sass/accounts.scss */
  .logo {
    margin-left: 1.48148rem;
  }

  /* line 450, ../sass/accounts.scss */
  h1 {
    font-size: 1.77778rem;
  }

  /* line 453, ../sass/accounts.scss */
  h2 {
    font-size: 0.88889rem;
    line-height: 1.62963rem;
  }

  /* line 457, ../sass/accounts.scss */
  h3 {
    font-size: 1rem;
  }

  /* line 460, ../sass/accounts.scss */
  p {
    font-size: 0.74074rem;
    line-height: 1.11111rem;
  }

  /* line 466, ../sass/accounts.scss */
  .product-image {
    width: 23.7037rem;
    height: 2.96296rem;
  }
  /* line 470, ../sass/accounts.scss */
  .product-image img {
    width: 23.7037rem;
  }

  /* line 505, ../sass/accounts.scss */
  .form-content {
    width: 42%;
    float: right;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  /* line 511, ../sass/accounts.scss */
  .centering::after {
    left: 55%;
  }
}
/* ===== == = === Max-width 768px === = == ===== */
@media screen and (max-width: 48rem) {
  /* line 444, ../sass/accounts.scss */
  .product-info {
    padding-left: 1.81818rem;
  }

  /* line 447, ../sass/accounts.scss */
  .logo {
    margin-left: 1.81818rem;
  }

  /* line 450, ../sass/accounts.scss */
  h1 {
    font-size: 2.18182rem;
  }

  /* line 453, ../sass/accounts.scss */
  h2 {
    font-size: 1.09091rem;
    line-height: 2rem;
  }

  /* line 457, ../sass/accounts.scss */
  h3 {
    font-size: 1rem;
  }

  /* line 460, ../sass/accounts.scss */
  p {
    font-size: 0.90909rem;
    line-height: 1.36364rem;
  }

  /* line 466, ../sass/accounts.scss */
  .product-image {
    width: 32rem;
    height: 4rem;
  }
  /* line 470, ../sass/accounts.scss */
  .product-image img {
    width: 32rem;
  }

  /* line 521, ../sass/accounts.scss */
  body {
    background-color: #fff;
  }

  /* line 524, ../sass/accounts.scss */
  .centering::after {
    display: none;
  }

  /* line 527, ../sass/accounts.scss */
  .page-container {
    display: block;
  }

  /* line 530, ../sass/accounts.scss */
  .product-info {
    display: block;
    float: none;
  }

  /* line 534, ../sass/accounts.scss */
  .form-content,
  .product-info {
    width: auto;
    float: none;
    padding: 0 1.5rem 1.5rem;
    margin: 0;
  }

  /* line 542, ../sass/accounts.scss */
  #product-image {
    width: 100%;
  }

  /* line 545, ../sass/accounts.scss */
  form::before {
    box-sizing: initial;
    position: relative;
    content: " ";
    width: 100%;
    margin: 0 -1.5rem;
    padding: 0 1.5rem;
    display: block;
    top: -1px;
    z-index: -100;
    border-top: 1px solid #dedede;
  }

  /* line 557, ../sass/accounts.scss */
  .form {
    margin: 0;
    padding: 0;
    border: 0;
    /* border line across the top */
  }

  /* line 564, ../sass/accounts.scss */
  ul {
    left: 0;
    right: 0;
    padding-right: 0;
    border-right: 0;
    padding-left: 0;
    border-left: 0;
  }

  /* line 572, ../sass/accounts.scss */
  .msg {
    font-size: .8rem;
  }

  /* line 575, ../sass/accounts.scss */
  .blue-button {
    width: 100%;
  }

  /* line 578, ../sass/accounts.scss */
  input {
    min-height: 44px;
  }

  /* line 581, ../sass/accounts.scss */
  #terms {
    font-size: .7rem;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /* Portrait */
}
@media screen and (max-width: 48rem) and (orientation: landscape) {
  /* line 590, ../sass/accounts.scss */
  ul {
    display: block;
    border: 0;
  }

  /* line 594, ../sass/accounts.scss */
  #terms {
    font-size: .8rem;
  }

  /* line 597, ../sass/accounts.scss */
  li.msg {
    width: auto;
    margin-right: 1rem;
  }

  /* line 601, ../sass/accounts.scss */
  .animate-bottom {
    -webkit-transition: transform .5s ease-in;
    -webkit-transition: transform .5s ease-in;
    -webkit-transform: translateY(2.5rem);
    transform: translateY(2.5rem);
  }

  /*Landscape for iPhone 4 and below*/
}
@media screen and (max-width: 48rem) and (orientation: landscape) and (max-device-width: 30rem) {
  /* line 612, ../sass/accounts.scss */
  .msg, li.msg {
    font-size: 0.7rem;
    margin-right: .4rem;
  }
}
/* ===== == = === 37.5em (600px) === = == ===== */
@media only screen and (max-width: 37.5em) {
  /* line 444, ../sass/accounts.scss */
  .product-info {
    padding-left: 1.63934rem;
  }

  /* line 447, ../sass/accounts.scss */
  .logo {
    margin-left: 1.63934rem;
  }

  /* line 450, ../sass/accounts.scss */
  h1 {
    font-size: 1.96721rem;
  }

  /* line 453, ../sass/accounts.scss */
  h2 {
    font-size: 0.98361rem;
    line-height: 1.80328rem;
  }

  /* line 457, ../sass/accounts.scss */
  h3 {
    font-size: 1rem;
  }

  /* line 460, ../sass/accounts.scss */
  p {
    font-size: 0.81967rem;
    line-height: 1.22951rem;
  }

  /* line 466, ../sass/accounts.scss */
  .product-image {
    width: 28.57143rem;
    height: 3.57143rem;
  }
  /* line 470, ../sass/accounts.scss */
  .product-image img {
    width: 28.57143rem;
  }

  /* line 628, ../sass/accounts.scss */
  .product-info::before {
    position: absolute;
    top: 0;
    bottom: 40rem;
    width: 100%;
    background: tomato;
  }

  /* line 637, ../sass/accounts.scss */
  .info-to-bottom {
    bottom: -11rem;
    left: 0;
    background: #fafafa;
    padding: 1.5rem;
    position: absolute;
    border-top: 1px solid #dedede;
  }
  /* line 645, ../sass/accounts.scss */
  .info-to-bottom h3 {
    margin-top: 0;
  }

  /* line 649, ../sass/accounts.scss */
  #bottom {
    padding-bottom: 0;
  }
}
/* ===== == = === 30em (480px) === = == ===== */
@media only screen and (max-width: 30em) {
  /* line 444, ../sass/accounts.scss */
  .product-info {
    padding-left: 1.52672rem;
  }

  /* line 447, ../sass/accounts.scss */
  .logo {
    margin-left: 1.52672rem;
  }

  /* line 450, ../sass/accounts.scss */
  h1 {
    font-size: 1.83206rem;
  }

  /* line 453, ../sass/accounts.scss */
  h2 {
    font-size: 0.91603rem;
    line-height: 1.67939rem;
  }

  /* line 457, ../sass/accounts.scss */
  h3 {
    font-size: 1rem;
  }

  /* line 460, ../sass/accounts.scss */
  p {
    font-size: 0.76336rem;
    line-height: 1.14504rem;
  }

  /* line 466, ../sass/accounts.scss */
  .product-image {
    width: 20.38217rem;
    height: 2.54777rem;
  }
  /* line 470, ../sass/accounts.scss */
  .product-image img {
    width: 20.38217rem;
  }

  /* line 661, ../sass/accounts.scss */
  .product-image {
    margin: 1rem auto;
  }

  /* line 664, ../sass/accounts.scss */
  .form-content {
    font-size: 0.9rem;
  }
}
/* ===== == = === 20em (320px) === = == ===== */
@media only screen and (max-width: 20em) {
  /* line 444, ../sass/accounts.scss */
  .product-info {
    padding-left: 1.33333rem;
  }

  /* line 447, ../sass/accounts.scss */
  .logo {
    margin-left: 1.33333rem;
  }

  /* line 450, ../sass/accounts.scss */
  h1 {
    font-size: 1.6rem;
  }

  /* line 453, ../sass/accounts.scss */
  h2 {
    font-size: 0.8rem;
    line-height: 1.46667rem;
  }

  /* line 457, ../sass/accounts.scss */
  h3 {
    font-size: 1rem;
  }

  /* line 460, ../sass/accounts.scss */
  p {
    font-size: 0.66667rem;
    line-height: 1rem;
  }

  /* line 466, ../sass/accounts.scss */
  .product-image {
    width: 16.84211rem;
    height: 2.10526rem;
  }
  /* line 470, ../sass/accounts.scss */
  .product-image img {
    width: 16.84211rem;
  }
}
