
.3error {
        background: #0c0;
        margin: 3px 0px 1em 0px;
        padding: 6px;
        border: 1px solid #660000;
        color: #fff;
}
.umesg {
        background: #66FF99;
        margin: 3px;
        padding: 6px;
        border: 1px solid #396;
}

div.element {

        margin: .3em 0px 1em 0px;
        font-size: 110%;
}
div.element label {
        font-weight: bold;
        margin: 2px;
}
div.element input.inputelement {
        font-size: 115%;
        display: block;
        margin: 2px;
}
div.element p {
        font-size: 90%;
        margin-top: .2em;
        margin: 2px;

}

body{
  font-family:		Arial, Helvetica, sans-serif;
  font-size:		12px;
}

.login{
  width:		350px;
  background-color:	#fafafa;
  padding: 	0 0px 15px 0;
  font-color: 	#808083;
  float:		right;
  -moz-border-radius: 	15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 	15px;
}

.content{
  float:		left;
  width:		550px;
  color: 		#888888;
  line-height:		30px;
  font-size:		15px;
}

.screens{
  overflow:		hidden;
  padding-bottom: 	50px;
}

.screens img{
  border: 		1px solid #f1f1f1;
  float: 		left;
}

.screens #second{
  margin-left: 		20px;
}

.forgot p{
  padding: 		20px;
}

.forgot{
  width:		350px;
  background-color:	#fafafa;
  padding-bottom: 	15px;
  -moz-border-radius: 	15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 	15px;
}

.resend1{
  width: 		350px;
  background-color: 	#fafafa;
  ding-bottom: 		15px;
  -moz-border-radius: 	15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 	15px;
}

.resend1 p{
  padding: 		20px;
}

.header
{
  height:		85px;
  padding-top:		10px;
  background-color: 	#fafafa;
  border:		0;
}

.header img{
  margin-top: 		25px;
}

.info{
  width: 		500px;
  background-color: 	#fafafa;
  border-radius: 	15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 	15px;
  padding-bottom:	20px;
}

.info p{
  text-align: 		justify;
  padding: 		20px;
}

.content ul{
  list-style-type:	disc;
}

.content ul li{
  margin-left:		20px;
}

a{
  color:		#1795D1;
}

.page-container{
  width:		940px;
  margin:		0 auto;
}

#panelTitle{
  background-color:	#f1f1f1;
  font-weight: 		bold;
  text-align:		left;
  font-size: 		15px;
  color: 		#33333;
  padding:		20px;
  -moz-border-radius: 	15px 15px 0 0;
  -webkit-border-radius: 15px 0 15px 0;
  -khtml-border-radius: 15px 0 15px 0;
  border-radius: 	15px 15px 0 0;
}

.title{
  color: 		#00A6DD;
  font-size: 		25px;
}

.subtitle{
  color:		 #000000;
  font-size: 		18px;
}

.titleProduct{
 color: 		#00A6DD;
}

.noscript{
  background-color: 	#FFCDD1;
  border-bottom: 	2px solid #E10C0C;
  border-top:		2px solid #E10C0C;
  color: 		#545454;
  margin: 5px auto;
  padding: 	5px;
  text-align: 		center;
  width: 		100%;
}

.body-content{
  width:		350px;
  margin-left:		auto;
  margin-right:		auto;
  margin-top:		14px;
  overflow: 		hidden;
}

.btn{
  float:		right;
  margin-top:		10px;
  margin-right:		16px;
}

.labelfRight{
  float:		right;
  color:		#1795d1;
  margin-right:		16px;
}

.labelfRight a{
  font-size:		11px;
}

.rdGroup{
  margin:		5px 0px;
}

.rdGroup label{
  line-height:		2em;
}

.field label{
  font-weight: 		bold;
  color: 		#333;
}

.radio{
  padding:		5px;
}

.cbAgree{
  padding-left:		20px;
  margin-top:		13px;
  float:		left;
}

.field{
  padding-left:		20px;
  padding-right:	5px;
  margin-top:		10px;
}

.field .txt{
  margin-top:		5px;
  -webkit-border-radius: 2px;
  -moz-border-radius:   2px;
  border-radius:        2px;
  color:		#F15929;
  padding:		3px 5px 0 4px;
}

.field .txt input{
  padding:		5px 5px 5px 15px;
  height: 		30px;
  width:		295px;
  border:		1px solid #f1f1f1;
  -webkit-border-radius: 2px;
  -moz-border-radius:	2px;
  border-radius: 	2px;
  font-size:		15px;
}
.error {
 color: red;
}
.green {
  color: green;
}
.clean input:focus{
  border: 		1px solid #00A6DD;
}

.errorColor input:focus{
  border:               1px solid #F15929 !important;
}

.passwordHelp{
  background-color: 	#E9E9E9;
}

#passwordHelp{
  color: 		#000;
  font-weight:		normal;
  padding:		10px;
  font-size:		10px;
  display:		none;
}

.errorColor{
  background-color:     #F8D2C6;
}

.field .txt p{
  font-weight: 		bold;
  padding:		5px;
  font-size:		12px;
}

.field-hr .left{
  float:		left;
  width:		46%;
}

.field-hr .right{
  float:		right;
  width:		48%;
  margin-right:		5px;
}

.clear{
  clear:		both;
}

.required_field{
  color:		red;
  font-size:		11px;
}

.red_asterisk{
  color:		#F15929;
  padding-left:		3px;
  font-weight:		bold;
}

#msgErr{
  width:		288px;
  margin:		15px auto 0px;
  text-align: 		left;
  background:		#f2e4e4 url('../images/error_pink.png') 10px 50% no-repeat;
  padding:		10px 5px 10px 40px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 	6px;
  border-radius: 	6px;
  clear: 		both;
}

.step_title
{
  font-size: 		17px;
  font-weight: 		bold;
  color: 		#3b3b3b;
  border-bottom: 	solid 1px #e6e6e6;
  padding-bottom: 	14px;
  margin-bottom: 	15px;
}

.footer
{
  height:		15px;
}

.submitActive{
  color: 		#009CCF;
}

.center{
  text-align:		center;
}

.justify{
  text-align:		justify;
}

.note{
  text-align:		center;
  font-size:		0.8em;
}

.dispensation{
  min-height: 		45px;
  padding-top: 		15px;
}

.middle{
  margin:		0 auto;
}

.eula{
  background-color: 	#fafafa;
  margin: 		0 auto;
  text-align:		center;
  width:		800px;
  border-radius: 	15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 	15px;
  padding-bottom:	20px;
}

.eula p{
  padding: 		5px 15px 5px 15px;
  text-align:		justify;
}

.closeEula{
  font-size:		15px;
  text-align:		center;
  padding: 		10px 15px;
}

.checkInbox{
  font-weight:		bold;
  padding-bottom: 	10px;
  text-align:		center;
}

.resend{
  text-align:		center;
  padding: 		0 20px 20px 20px;
}
