body
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
a
{
	color:#1795D1;
}
.page-container
{
	width:900px;
	margin:0 auto;
	
}
#panelTitle
{
	font-size: 23px;
	margin-bottom: 20px;
	color: #333333;
	
}
.noscript
{
	
    background-color: #FFCDD1;
    border-bottom: 2px solid #E10C0C;
    border-top: 2px solid #E10C0C;
    color: #545454;
    margin: 5px auto;
    padding: 5px;
    text-align: center;
    width: 100%;
}
.header
{
	border-bottom-width: 6px;
	border-bottom-style: solid;
	border-bottom-color: #808083;	
	height:80px;
	padding-top:10px;
}

.body-content
{
	width:329px;
	margin-left:auto;
	margin-right:auto;
	margin-top:14px;
}

.btn
{
	float:right;
	margin-top:10px;
	margin-right:16px;
}
.labelfRight
{
	float:right;
	color:#1795d1;
	margin-right:16px;
}
.labelfRight a
{
	font-size:11px;
}

.rdGroup
{
	margin:5px 0px;
}
.rdGroup label
{
	line-height:2em;
}
.field label
{
	font-weight: bold;
	color: #333;
}
.radio
{
	padding:5px;
}
.cbAgree
{
	margin-top:13px;
	float:left;
}
#cbAgree:focus {
	background: #1795d1;
	outline: 1px solid #1795d1;
}
.field
{
	margin-top:10px;
}
.field .txt
{
	margin-top:5px;
}
.field .txt input
{
	padding:5px;
	width:299px;
	border:solid 1px #eaeaea;

  
}
.field-hr .left
{
	float:left;
	width:46%;
}
.field-hr .right
{
	float:right;
	width:48%;
	margin-right:5px;
}
.clear
{
	clear:both;
}
.required_field
{
	color:red;
	font-size:11px;
}
.red_asterisk
{
	color:red;	
	padding-left:3px;
	font-weight:bold;
}
#msgErr
{
	width:288px;
	margin:15px auto 0px;
	text-align: left;
	background:#f2e4e4 url('../images/error_pink.png') 10px 50% no-repeat;
	padding:10px 5px 10px 40px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px; 
	clear: both;
}
.step_title
{
	font-size: 17px;
    font-weight: bold;
    color: #3b3b3b;
    border-bottom: solid 1px #e6e6e6;
    padding-bottom: 14px;
    margin-bottom: 15px;
}
.footer
{
	height:15px;
}
/*.submitActive{
 	color: #009CCF;
}
*/
#submitSignUp{
	background-color: #00a6dd;
	color: #fff;
	border-color: #00a6dd;
	padding: 10px 20px;
	display: inline-block;
	line-height: 2em;
	border-radius: 2px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	white-space: nowrap;
}
#submitSignUp:focus, #submitSignUp:hover {
	background-color: #078ebb;
}
.center{
 text-align:center;
}
.justify{
 text-align:justify;
}
.note{
 text-align:justify;
 font-size:0.8em;
}

.dispensation{
 min-height: 25px; 
 padding-top: 15px;
}

.closeEula{
 text-align:center;
 padding: 10px 15px;
}

.checkInbox{
 font-weight:bold;
 padding-bottom: 10px;
 text-align:center;
}
